NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CAL_LINK=soumitro-halder-shan-ltvmbb/consultation-about-ai-avatar-creation
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://your-n8n-instance/webhook/your-webhook-id
